html,body,.main{
    width: 100%;
    height: 100%;
    overflow: hidden;

}
.swiper-container{
    width: 100%;
    height: 100%;
}
.slide1{
    background: url('../img/beijing.jpg') no-repeat rgba(0,0,0,.9);
    background-size:100% 100%;
}
.slide1>img{
    position: absolute;
    top:0;
    left:0;
}
.slide1>img:nth-child(1){
    width: 2.5rem;
    height:1.5rem;
    top:33%;
    left:30%;
    opacity:0;
    transition: all 1s;
}
.slide1>img:nth-child(2){
    width: 3.5rem;
    height:3.2rem;
    -webkit-transform:rotate(-90deg) ;
    transform:rotate(-90deg) ;
    top:25%;
    left:23%;
    transition:all .7s .8s;
}
.slide1>img:nth-child(3){
    width: 3.5rem;
    height:3.2rem;
    -webkit-transform:rotate(-130deg) scale(3) ;
    transform:rotate(-130deg) scale(3) ;
    transition:all .8s;
    top:25%;
    left:22%;
    opacity: 0;
}
.slide1 .s{
    position: absolute;
    display: inline-block;
    height:.6rem;
    background:#0171aa;
    top:37%;
}
.slide1 .s2{
    right:0;
}
.name{
    position: absolute;
    width: 3rem;
    height:2rem;
    top:120%;
   left:28%;
    transition: all 1s;
    opacity: 0;
}
.name p{
    width:100%;
    height:.05rem;
    background:#0171ab ;
    position: absolute;
    top:.88rem;
}
.name .p2{
    width:100%;
    height:.4rem;
    background:#0171ab ;
    position: absolute;
    top:1rem;
    font-size: .3rem;
    color:chocolate;
    text-align: center;

}
.name>img{
    position: absolute;
    top:-.12rem;
    left:2.45rem;
    opacity: 0;
    transition:1s;
}
.name1{
    display: inline-block;
    padding:.1rem;
    font-size:.50rem ;
    color:#a86522;
    position: absolute;
    top:-.1rem;
}
.name2{
    font-size:.25rem ;
    color:#0171ab;
    position: absolute;
    top:.52rem;
    left:0;
}
.name3{
    font-size:.37rem ;
    color:#0171ab;
    position: absolute;
    top:.2rem;
    right:.1rem;
}

#page1 img{
    opacity: 1;
}
#page1 .s{
   -webkit-animation: width .5s both;
    animation: width .5s both;
}
#page1>img:nth-child(1){
    -webkit-animation:bounceIn 1s 1 1s both;
    animation:bounceIn 1s 1 1s both;
}
#page1>img:nth-child(3){
    -webkit-animation:img3 3s both;
    animation:img3 3s both;
}
#page1>img:nth-child(2){
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}
#page1>.name{
    opacity: 1;
    -webkit-animation:chan .7s 2s both;
    animation:chan .7s 2s both;
}
#page1>.name>img{
    -webkit-animation:bounceInDown 1s 2s both;
    animation:bounceInDown 1s 2s both;
    -webkit-transform:rotate(-70deg);
    transform:rotate(-70deg);
}
@-webkit-keyframes chan {
    0%{
        top:120%;
    }
    40%{
        top:65%;
    }
    55%{
        top:70%;
    }

    100%{
        top:65%;
    }
}
@keyframes chan {
    0%{
        top:120%;
    }
    40%{
        top:65%;
    }
    55%{
        top:70%;
    }

    100%{
        top:65%;
    }
}
@-webkit-keyframes width {
     0%{
         width: 0;
     }
     100%{
         width: 1.6rem;
     }
 }
@keyframes width {
     0%{
         width: 0;
     }
     100%{
         width: 1.6rem;
     }
 }
@-webkit-keyframes img3 {
    0%{
        -webkit-transform:rotate(-130deg) scale(5);
        transform:rotate(-130deg) scale(5)
    }
    50%{
        transform:rotate(118deg) scale(1);
        -webkit-transform:rotate(118deg) scale(1);
    }
    100%{
        transform:rotate(-130deg) scale(3);
        -webkit-transform:rotate(-130deg) scale(3);
        opacity: 0;
    }
}
@keyframes img3 {
    0%{
        -webkit-transform:rotate(-130deg) scale(5);
        transform:rotate(-130deg) scale(5)
    }
    50%{
        transform:rotate(118deg) scale(1);
        -webkit-transform:rotate(118deg) scale(1);
    }
    100%{
        transform:rotate(-130deg) scale(3);
        -webkit-transform:rotate(-130deg) scale(3);
        opacity: 0;
    }
}
.slide2,.slide3,.slide4{
    overflow: hidden;
background: url('../img/beijing2.jpg') no-repeat;
    width:100%;
    height:100%;
}
.slide2>.img1{
    width:100%;
    height:100%;
}
.slide2>img:nth-child(2),.slide3>img:nth-child(2){
    position: absolute;
    left:35%;
    top:40%;
    width: 2rem;
    height:2rem;
    transition:all 1s ;
    opacity: 0;
}
.slide2>.xian,.slide3>.xian{
    position: absolute;
    width: 4.5rem;
    height:.03rem;
    background: #0171ab;
    transition: all .3s;
    -webkit-transform: rotate(13deg);
    transform: rotate(13deg);
}
.slide2>.xian1,.slide3>.xian1{
   top:-4.2rem;
}
.slide2>.xian2,.slide3>.xian2{
   bottom:-1rem;
    right:0;
}
.slide2>p,.slide3>p{
    position: absolute;
    top:45%;
    left:30%;
    width: 3rem;
    height:2rem;
    font-size:.5rem;
    color:#fff;
    -webkit-transform: rotate(13deg);
    transform: rotate(13deg);
    transition: all 1s;
    opacity: 0;
}
.slide2>p>span,.slide3>p>span{
    display: inline-block;
    padding-left:1rem;
    font-size:.3rem;
}
.slide3>p>span{
    padding-left:0;
}
.slide2>.zp{
    width:3rem;
    height:3rem;
    border-radius:50% ;
    background: url('../img/zp4.jpg') no-repeat -3rem -1.5rem;
    -webkit-filter:invert(0.15);
    margin:1.5rem 25%;
    position: absolute;
    left:0;
    top:0;
    transition:all .2s 1.5s;
    -webkit-transform:rotate(15deg);
    transform:rotate(15deg);
    opacity:0;
}
@-webkit-keyframes box {
    0%{
        transform: scale(1) rotate(15deg);
        -webkit-transform: scale(1) rotate(15deg);
    }
    50%{
        transform: scale(1.2) rotate(5deg);
        -webkit-transform: scale(1.2) rotate(5deg);
    }
    100%{
            transform: scale(1) rotate(15deg);
        -webkit-transform: scale(1) rotate(15deg);
    }
}
@keyframes box {
    0%{
        transform: scale(1) rotate(15deg);
        -webkit-transform: scale(1) rotate(15deg);
    }
    50%{
        transform: scale(1.2) rotate(5deg);
        -webkit-transform: scale(1.2) rotate(5deg);
    }
    100%{
            transform: scale(1) rotate(15deg);
        -webkit-transform: scale(1) rotate(15deg);
    }
}
.slide2>img,.slide3>img,.slide4>img{
    width: 100%;
    height:100%;
}
.slide2>.xinxi{
    width: 100%;
    height:5.5rem;
    background:rgba(0,0,0,.3);
    position: absolute;
    left:0;
    bottom:0;
    opacity: 0;
}
.slide2>.xinxi>div{
    display: inline-block;
    width: .03rem;
    height:5.5rem;
    background: #0171ab;
    position: absolute;
    left:1rem;
    top:0;
}
.slide2>.xinxi>div>span{
    display: inline-block;
    width: .13rem;
    height:.13rem;
    border-radius: 50%;
    background: #fa8622;
    position: absolute;
        left:-0.022rem;
    top:4.9rem;
}
.slide2>.xinxi>div>span{
    opacity:0;
}
.slide2>.xinxi>div>span:nth-child(2){
    top:-4rem;
    transition: all .5s 2.8s;
}
.slide2>.xinxi>div>span:nth-child(3){
    top:-3.1rem;
    transition: all .5s 3.1s;
}
.slide2>.xinxi>div>span:nth-child(4){
    top:-2.2rem;
    transition: all .5s 3.3s;
}
.slide2>.xinxi>div>span:nth-child(5){
     top:-1.3rem;
    transition: all .5s 3.5s;
 }
.slide2>.xinxi>div>span:nth-child(6){
    top:-0.4rem;
    transition: all .5s 3.7s;
}
.slide2>.xinxi>div>ul{
    width:5rem; ;
    height:5.5rem;
    position: absolute;
    left:75rem;
    transition: all .8s 2.6s;
}
.slide2>.xinxi>div>ul>li{
    height:0.9rem;
    opacity:1;
   line-height: 0.9rem;
    font-size: .24rem;
    color:#f5f5f5;

}
.slide2>.xuehua{
    width: 1.67rem;
    height:.83rem;
    position: absolute;
    z-index: 3;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    background: url('../img/xuehua.gif') no-repeat;
}

.slide2>.xuehua3{
    top:2rem;
    right:1.7rem;
}
.slide2>.xuehua4{
    top:6rem;
    -webkit-transform: rotate(0);
    transform: rotate(0);
}
.slide2>.xuehua5{
    top:8rem;
    right:2rem;
}
.slide3>div{
    width: 0.05rem;
    height:6.8rem;
    background: #0157ac;
    position: absolute;
    top:0;
    left:49%;
    opacity: 0;
}
.slide3>div>img{
    width: 0.5rem;
    height:0.25rem;
    display: inline-block;
    position: absolute;
    top:5.1rem;
    left:-0.2rem;
}
.slide3>div>img:nth-child(2){
    opacity:0;
    top:3.6rem;
}
.slide3>div>img:nth-child(3){
    opacity:0;
    top:2.1rem;
}
.slide3>div>img:nth-child(4){
    opacity:0;
    top:0.6rem;
}
.slide3>div>img:nth-child(5){
    opacity:0;
    top:6.6rem;
}
.slide3>ul{
    width: 3rem;
    height:3rem;
    position: absolute;
    left:20%;
    top:0;
    opacity: 0;
}
.slide3>ul>li{
    height:1.5rem;
    line-height: 1.5rem;
    font-size: .3rem;
    color:#fffdff;
}
.slide3>ul>li:nth-child(5){
    line-height: .6rem;

}
.slide3>.ul2{
    position: absolute;
   left:58%;
    opacity: 0;
}
.slide4>img:nth-child(2){
     width: 1.5rem;
     height:1.5rem;
     position: absolute;
     left:.3rem;
     bottom:.2rem;
 }
.slide4>img:nth-child(3){
    width: 13rem;
    height:13rem;
    position: absolute;
    left:.18rem;
    bottom:-1rem;
    -webkit-animation: zhuan 3s linear infinite both;
   animation: zhuan 3s linear infinite both;
}
.slide4>img:nth-child(4){
    width: 12rem;
    height:12rem;
    position: absolute;
    left:.7rem;
    bottom:-.5rem;
    opacity: 0;
}
.slide4>p{
    position: absolute;
    font-size: .4rem;
    color:#f08519;
    left:2.3rem;
    top:28%;
    opacity: 0;
}
.slide4>p:nth-child(6){
    color:#1b74ab;
    left:2rem;
    top:42%;
}
.slide4>p:nth-child(7){
    color:#e8422f;
    left:2rem;
    top:55%;
}
.slide4>p:nth-child(8){
    color:#acce22;
    left:2.2rem;
    top:67%;
}

#page4>img:nth-child(4){
    opacity: 1;
    -webkit-animation:bounceInRight .7s both;
    animation:bounceInRight .7s both;
}

#page4>p{
    opacity: 1;
    -webkit-animation: bounceInRight .5s .5s both;
   animation: bounceInRight .5s .5s both;
}
#page4>p:nth-child(7){
    opacity: 1;
    -webkit-animation: bounceInRight .5s .7s both;
    animation: bounceInRight .5s .7s both;
}
#page4>p:nth-child(8){
    opacity: 1;
    font-size: .38rem;
    -webkit-animation: bounceInRight .5s .9s both;
    animation: bounceInRight .5s .9s both;
}


@-webkit-keyframes zhuan {
100%{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
}
@keyframes zhuan {
100%{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
}

#page2>.img1,#page3>.img1,#page4>.img1{
    -webkit-animation: beijing 8s infinite;
animation: beijing 8s infinite;
}
@-webkit-keyframes beijing {
0%{
    -webkit-transform:rotate(0) scale(1);
    transform:rotate(0) scale(1);
}
    50%{
        transform:rotate(-7deg) scale(1.5);
        -webkit-transform:rotate(-7deg) scale(1.5);
    }
    100%{
        transform:rotate(0) scale(1);
        -webkit-transform:rotate(0) scale(1);
    }
    
}
@keyframes beijing {
0%{
    -webkit-transform:rotate(0) scale(1);
    transform:rotate(0) scale(1);
}
    50%{
        transform:rotate(-7deg) scale(1.5);
        -webkit-transform:rotate(-7deg) scale(1.5);
    }
    100%{
        transform:rotate(0) scale(1);
        -webkit-transform:rotate(0) scale(1);
    }

}
#page2>.xian1,#page3>.xian1{
    top:4.2rem;
    -webkit-animation: fadeOutLeftBig .8s .5s both;
    animation: fadeOutLeftBig .8s .5s both;
}
#page2>.xian2,#page3>.xian2{
    bottom:4.3rem;
    -webkit-animation: fadeOutRightBig .8s .5s both;
    animation: fadeOutRightBig .8s .5s both;
}
#page2>img:nth-child(2),#page3>img:nth-child(2){
    opacity: 1;
    -webkit-animation: rotateOutUpLeft .3s .5s both;
    animation: rotateOutUpLeft .3s .5s both;
}
#page2>p,#page3>p{
    opacity: 1;
    -webkit-animation: rotateOutUpLeft .9s .5s both;
    animation: rotateOutUpLeft .9s .5s both;
}
#page2>.zp{
    opacity:1;
    -webkit-animation: box 6s infinite both;
    animation: box 6s infinite both;
}
#page2>.xinxi{
    -webkit-animation: bounceInUp .3s 2.5s both;
    animation: bounceInUp .3s 2.5s both;
    opacity: 1;
}
#page2>.xinxi>div{
    -webkit-animation: bounceInDown .6s 2.5s both;
    animation: bounceInDown .6s 2.5s both;
}
#page2>.xinxi>div>ul{
    left:.5rem;
}
#page2>.xinxi>div>span{
    opacity:1;
}
#page2>.xinxi>div>span:nth-child(2){
    top:4rem;
}
#page2>.xinxi>div>span:nth-child(3){
    top:3.1rem;
}
#page2>.xinxi>div>span:nth-child(4){
    top:2.2rem;
}
#page2>.xinxi>div>span:nth-child(5){
    top:1.3rem;
}
#page2>.xinxi>div>span:nth-child(6) {
    top: .4rem;
}
#page3>div{
    opacity:1;
    -webkit-animation: bounceInDown .3s 2s both;
   animation: bounceInDown .3s 2s both;
}
#page3>div>img:nth-child(1){
    opacity:1;
    -webkit-animation:xuanzhuan .3s 2.5s 2 both;
    animation:xuanzhuan .3s 2.5s 2 both;
    transition: all .3s ;
}
#page3>div>img:nth-child(2){
    opacity:1;
    -webkit-animation:xuanzhuan .3s 2.7s 2 both;
    animation:xuanzhuan .3s 2.7s 2 both;
    transition: all .3s ;
}
#page3>div>img:nth-child(3){
    opacity:1;
    -webkit-animation:xuanzhuan .3s 2.9s 2 both;
    animation:xuanzhuan .3s 2.9s 2 both;
    transition: all .3s ;
}
#page3>div>img:nth-child(4){
    opacity:1;
    -webkit-animation:xuanzhuan .3s 3.2s 2 both;
    animation:xuanzhuan .3s 3.2s 2 both;
    transition: all .3s ;
}
#page3>div>img:nth-child(5){
    opacity:1;
    -webkit-animation:xuanzhuan .3s 2.2s 2 both;
    animation:xuanzhuan .3s 2.2s 2 both;
    transition: all .3s ;
}
#page3>ul{
    opacity: 1;
    -webkit-animation: bounceInLeft .5s 1.5s both;
    animation: bounceInLeft .5s 1.5s both;
}
#page3>.ul2{
    opacity: 1;
    -webkit-animation: bounceInRight .5s 2.3s both;
    animation: bounceInRight .5s 2.3s both;
}
@-webkit-keyframes xuanzhuan {
    100%{
        animation:bounceInDown .3s 2.5s both;
        -webkit-animation:bounceInDown .3s 2.5s both;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes xuanzhuan {
    100%{
        animation:bounceInDown .3s 2.5s both;
        -webkit-animation:bounceInDown .3s 2.5s both;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}









































